


#cardTemperatura.Thunderstorm { background-color: #383838 !important; color: white; }

#temperatura{
    font-size: 50px;
    margin-left: 20px;
}

#cidade{
    padding-top: 1rem;
    margin-left: 20px;
}

body.dia {
    background-color: #87cde9; 
    color: #000;
}

body.noite {
    background-color: #353434; 
    }

.card-previsao.noite{
      background-color: #353434 !important; 
}

.card-previsao{
      background-color: rgba(223, 246, 255, 0.4) !important; 
}


#cardTemperatura.noite { background-color: rgba(154, 158, 167, 0.8) !important; color: white; }
#cardTemperatura.dia { background-color: rgba(223, 246, 255, 0.4) !important;color: white;}
